header {
    background-color: #16562e;
    color: black;
    padding: 20px;
    text-align: center;
  }

  .navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner{
    width: 100%;
    height: 100vh;
   
    background-size: cover;
    background-position: center;

}.logo{
    width: 80px;
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;

}
.navbar ul li a{
text-decoration: none;
color: black;
text-transform: uppercase;
}
.navbar ul li::after{
    content:'';
    height: 3px;
    width: 0;
    background:#009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover:after{
    width: 100%;
}



body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
}

.service-container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.service-item {
    margin-bottom: 20px;
}

.service-item h2 {
    font-size: 24px;
    color: #333;
    margin: 10px 0;
}

.service-item p {
    font-size: 16px;
    line-height: 1.5;
    color: #555;
}
