body {
    background-color: #999;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

  header {
    background-color: #999;
    color: black;
    padding: 20px;
    text-align: center;
  }

  .navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner{
    width: 100%;
    height: 100vh;
   
    background-size: cover;
    background-position: center;

}.logo{
    width: 80px;
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;

}
.navbar ul li a{
text-decoration: none;
color: black;
text-transform: uppercase;
}
.navbar ul li::after{
    content:'';
    height: 3px;
    width: 0;
    background:#009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover:after{
    width: 100%;
}

  
 
  


body{
    font-family: Roboto, sans-serif;
    font-weight: 200;
    font-size: 14px;
    line-height:1.5;
    color: black;
    background-color: #999;

}


body main{
    display: flex;
    flex-wrap: initial;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 80%;
    text-align: center;
    background-color: #999;
}



input{
    border-radius:20px;
}

form {
    background-color: #999;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  form input[type="text"],
  form input[type="email"],
  form input[type="date"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
  }
  
  form input[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  form input[type="submit"]:hover {
    background-color: #555;
  }
